## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [1]:
aList = [100, 200, 300, 400, 500]
aList.sort(reverse=True)
print(aList)

[500, 400, 300, 200, 100]

**Output:**

In [ ]:
[500, 400, 300, 200, 100]

In [2]:
aList = [100, 200, 300, 400, 500]
# code below this line
aList=aList[::-1]
print(aList)
# code above this line

[500, 400, 300, 200, 100]

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [8]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3=[]
for i in range (int(len(list1))):
    list3.append(list1[i]+list2[i])
print(list3)

['My', 'name', 'is', 'Kelly']

**Output:**

In [ ]:
['My', 'name', 'is', 'Kelly']

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
# code below this line

# code above this line

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [15]:
aList = [1, 2, 3, 4, 5, 6, 7]
list=[]
for i in range (int(len(aList))):
    k=int(aList[i])**2
    list.append(k)
print(list)

[1, 4, 9, 16, 25, 36, 49]

**Output**

In [ ]:
[1, 4, 9, 16, 25, 36, 49]
# code below this line

# code above this line

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [16]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[]
for i in range (int(len(list1))):
    for r in range (int(len(list2))):
        list3.append(list1[i]+list2[r])
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

**Output**

In [ ]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
# code below this line

# code above this line

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [22]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
count=int(len(list2)-1)
for i in range (int(len(list1))):
    print(f"{list1[i]} {list2[count]}")
    count-=1

10 400
20 300
30 200
40 100

**Output**

In [ ]:
10 400
20 300
30 200
40 100

In [21]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
# code below this line
# code above this line

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [24]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
while "" in list1:
    list1.remove("")
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# code below this line

# code above this line

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [34]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for i in range (int(len(list1))):
    if list1[i]==20:
        list1[i]=200
        print(list1)
        break

[5, 10, 15, 200, 25, 50, 20]

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line

# code above this line

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

**Output:**

In [ ]:
[5, 15, 25, 50]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# code below this line

# code above this line